@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

// Fuentes
$fuente_principal: 'Roboto', sans-serif;;

// Tamaño de Media Queries
$telefono: 500px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #D9D9D9;
$grisOscuro: #333333;

$azulOscuro: #2A3542;
$rojo: rgb(189, 7, 7);
$rosado:  #f9dfdf;

$separacion: 5rem;

// Fuentes
$regular : 400;
$bold: 700;
$black: 900;