#footer{
    background-color: $azulOscuro;
    display: grid;
    place-content: center;

    picture .logo_footer{
        width: 3rem;
        border-radius: 50%;
        text-align: center;
    }
    .copy{
        display: flex;
        align-items: center;
    }
}
